/* --- 비밀 노트 --- */
.secret-header-box {
	background-color: var(--color-bg-surface);
	border-width: 1px;
	border-color: var(--color-border);
	padding: 15px;
	border-radius: 8px;
	margin-bottom: 20px;
}

.secret-title {
	color: var(--color-text-main);
	-unity-font-style: bold;
	margin-bottom: 5px;
}

.secret-desc {
	color: var(--color-text-sub);
	font-size: 12px;
}

.secret-form {
	background-color: var(--color-bg-surface);
	padding: 20px;
	border-radius: 8px;
	border-width: 1px;
	border-color: var(--color-border);
	margin-bottom: 20px;
}

.secret-btn {
	margin-top: 10px;
	background-color: var(--color-bg-hover);
	color: var(--color-text-hover);
	padding: 10px;
	-unity-font-style: bold;
	border-width: 0;
}

.secret-btn:hover {
	background-color: var(--color-text-main);
	color: var(--color-bg-base);
}

.secret-item {
	background-color: var(--color-bg-surface);
	padding: 15px;
	margin-bottom: 10px;
	border-radius: 8px;
	border-width: 1px;
	border-color: var(--color-border);
}

.secret-item:hover {
	border-color: var(--color-text-main);
}
