@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

@* // Welcome to your new app. *@
 
<SurveyPrompt Title="How is Blazor working for you?" />

<Counter IncrementAmount="15" />

@*
// 별점 매길 수 있는 페이지 (디자인은 어케하지)
// 스팀 같은 느낌으로 갈지
// 왓챠 같은 느낌으로 갈지

// 내 페이지 (보이기 숨기기)

// 남이랑 비교할 수 있는 페이지

// 관계성을 찾아서 추천받을 수 있는 페이지

// 통계? 순위?
*@